<launch>
	<arg name="base_frame" default="base_link" />
	<!-- <arg name="odom_frame" default="robot_0/odom_combined" /> -->
	<arg name="odom_frame" default="odom" />
	<!--<arg name="transform_pose" default="-30.150 -26.5" />-->
	<!--<arg name="map_name" default="real_2" />-->
	<!--<arg name="transform_pose" default="-44.2 -44.25" />-->
	<!--<arg name="map_name" default="aces_map" />-->
	<!--<arg name="transform_pose" default="-67.5 -19.875" />-->
	<!--<arg name="map_name" default="combinenormal" />-->
	<arg name="transform_pose" default="-35.000 -13.200" />
	<arg name="map_name" default="real_1" />
	<!--<arg name="transform_pose" default="-40.0 -10.10" />-->
	<!--<arg name="map_name" default="seattle" />-->
	<arg name="map_frame" default="map" />
	<arg name="use_deadman" default="false" />
	<arg name="person_frame" default="person_raw" />


	<param name="/use_sim_time" value="true"/>
	<arg name="move_base_goal_frequency" default="0.5" />

	<node pkg="stage_ros" type="stageros" name="stageros_node" args="$(find robot_describe)/worlds/$(arg map_name).world">
		<!--<remap from="/robot_0/blob" to="/robot_0/blob_0" />-->
		<!--<remap from="/robot_0/cmd_vel" to="/cmd_vel" />-->
		<param name="map_name" value="$(arg map_name)"/>
	</node>

	<!-- nodelets and its manager for cmd_vel mux -->

	 <!--<include file="$(find robot_describe)/launch/ekf.launch" />-->

	 <!--<node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen"/>-->

	<node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node">
		<remap from="joy" to="teleop/joy" />
		<!--<remap from="cmd_vel" to="robot_0/cmd_vel" />-->
		<param name="scale_linear" value="100.75" />
		<param name="scale_angular" value="0.5" />
	</node>

	<node pkg="joy" type="joy_node" name="joy_node" output="screen">
		<remap from="/joy" to="/teleop/joy" />
		<param name="dev" type="string" value="/dev/input/js0" />
		<!-- <param name="dev" type="string" value="/dev/input/js1" /> -->
		<param name="autorepeat_rate" value="10" />
	</node>

	<node name="map_server" pkg="map_server" type="map_server"
		args="$(find robot_describe)/worlds/$(arg map_name).yaml" output="screen">
		<param name="frame_id" value="map_server" />
	</node>
	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="$(arg transform_pose) 0 0 0 0 -1  $(arg odom_frame) map_server 20" />
	<!--<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="-30.15 -26.5 0 0 0 0 -1 gmap $(arg odom_frame) 100" />-->

	<!--<include file="$(find robot_describe)/launch/amcl.launch">-->
		<!--<remap from="scan" to="base_scan"/>-->
		<!--<param name="odom_frame_id" value="$(arg odom_frame)"/>-->
		<!--<param name="base_frame_id" value="$(arg base_frame)"/>-->
		<!--<param name="global_frame_id" value="amcl_map"/>-->
		<!---->
	<!--</include>-->

	<include file="$(find robot_describe)/launch/gmapping.launch" />

	<!--<include file="$(find robot_describe)/config_nav/move_base.xml" />-->


	<!--Commented for test-->


	<node pkg="rviz" type="rviz" name="rviz" output="screen" />

		  <!--args="-d $(find robot_describe)/config/simulation.rviz"/>-->


</launch>