<launch>
	<arg name="base_frame" default="base_link" />
	<arg name="odom_frame" default="odom" />
	<arg name="map_frame" default="map" />

	<arg name="laser_frame" default="laser" />

	<arg name="scan_topic" default="scan" />
    <param name="use_sim_time" value="true"/>


	<!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0.19 0.149 0.0 -1.5708 3.1416 $(arg base_frame) $(arg laser_frame) 10"/> -->

	
	<node pkg="rviz" type="rviz" name="rviz" output="screen" />

  <node name="map_server" pkg="map_server" type="map_server"
		args="$(find robot_describe)/map.yaml" output="screen">
		<param name="frame_id" value="map_server" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 -1  map map_server 20" />


  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <remap from="map" to="gmap"/>

    <rosparam>
      odom_frame: odom
      base_frame: base_link
      map_frame: map

      map_update_interval: 0.1 # Publish new map

      maxUrange: 8.0 # Should be just less than sensor range
      maxRange: 8.1 # Should be just greater than sensor range
      particles: 120 # Increased from 80

      # Update frequencies
      linearUpdate: 0.2
      angularUpdate: 0.2
      temporalUpdate: 1.0
      resampleThreshold: 0.1

      # Initial Map Size
      xmin: -100.0
      ymin: -100.0
      xmax: 100.0
      ymax: 100.0
      delta: 0.05

      # All default
      sigma: 0.01
      kernelSize: 1
      lstep: 0.05
      astep: 0.05
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 1
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005

    </rosparam>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

  <node pkg="robot_describe" type="cost_map_node" name="cost_map_node" output="screen">
			<rosparam command="load" file="$(find robot_describe)/config_nav/my_costmap.yaml"/>
	</node>
	<include file="$(find robot_describe)/launch/move_base_flex.launch" />


</launch>